<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <style>
           
      
      form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] {
      width: 28%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .icon {
      font-size: 110px;
      display: flex;
      justify-content: center;
      color: #4286f4;
      }
      button {
      background-color: #4286f4;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grab;
      width: 48%;
      }
      h1 {
      text-align:center;
      fone-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: center;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      #label {
        display: table;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
}
    


        </style>

        <title>Addd Item</title>
        

         <!-- Bootstrap Core CSS -->
         <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
         <!-- Custom CSS -->
         <link href="{% static 'startmin.css' %}" rel="stylesheet">
          <!-- MetisMenu CSS -->
          <link href=" {% static 'metisMenu.min.css' %}" rel="stylesheet">
 
          <!-- Timeline CSS -->
          <link href="{% static 'timeline.css' %}" rel="stylesheet">
  
 
 
         <!-- Custom Fonts -->
         <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'dashboard' rest_id %}">FoodiZone</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                         </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> {{res_owner}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                   </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="{% url 'dashboard' rest_id %}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'add_item' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Items<span
                                        class="fa arrow"></span></a>
    
                                <!-- /.nav-second-level -->
                            </li>
                         
                            <li>
                                <a href="{% url 'edit_item' %}"><i class="fa fa-plus" aria-hidden="true"></i> Edit Items<span
                                        class="fa arrow"></span></a>
    
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="{% url 'remove_menu' %}"><i class="fa fa-plus" aria-hidden="true"></i> Remove Items<span
                                        class="fa arrow"></span></a>
    
                                <!-- /.nav-second-level -->
                            </li>
                           
                           
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                        
                            <h1 class="page-header">Add Item</h1>
                            <form action="{% url 'add_item' %}" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
     
                                <div class="formcontainer">
                                <div class="container">
                                  <label id="label"  for="select catageory"><strong>Catageory name</strong></label>
                                  <input type="text" placeholder="Enter Catageory Name" name="catageory_name"id="catageory_name"  required>
                                  <label id="label" for="FoodName"><strong>Food Name</strong></label>
                                  <input type="text" placeholder="Enter Food Name" name="item_name" id="item_name" required>
                                  <label id="label" for="itemprice"><strong>Item Price</strong></label>
                                  <input type="text" placeholder="Enter Item price" name="item_price" id="item_price" required>
                                <label id="label" for="itemimage"><strong>Item Image</strong></label>
                                  <input type="file" required= "name" name="item_image" id="item_image">
                          <label id="label" for="itemingredents"><strong> Item Ingredents</strong></label>
                                  <input type="text" name="itemingredents" placeholder="Enter Item Ingredents" id="itemingredents" required>
                              <label id="label" for="itemdescription"><strong>Item descriptions</strong></label>
                                  <input type="text" placeholder="Enter Item Description" name="itemdes" id="itemdes" required><br>
                          
                                <button type="submit"  style="width: 28%;"  ><strong>ADD</strong></button>
                                </div>
                          </div>
                              </form>
                            <!-- <form action="{% url 'add_item' %}" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <label for="select catageory"> Catageory name</label>  
                                <input type="text" name="catageory_name" id="catageory_name"><br><br>

                              <label for="additem"> Food Name</label>  
                              <input type="text" name="item_name" id="item_name"><br>
                              <label for="itemprice"> Item Price</label>  
                              <input type="text" name="item_price" id="item_price"><br>
                              <label for="itemimage"> Item Image</label> 
                              <input type="file"  required="name"  name="image" id="image />

                              <input type="file" required= "name" name="item_image" id="item_image"><br>
                              <label for="itemingredents"> Item Ingredents</label>  
                              <input type="text" name="itemingredents" id="itemingredents"><br>
                              <label for="itemdescription"> Item descriptions</label>  
                              <input type="text" name="itemdes" id="itemdes"><br>
                              
                              <input type="submit" value="Add">

                            </form> -->
                          
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                   
                          
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div> -->
           

        </div>
        <!-- /#wrapper -->

    
        <!-- jQuery -->
        <script src="{% static 'jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'metisMenu.min.js' %}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{% static 'raphael.min.js' %}"></script>
        <script src="{% static 'morris.min.js' %}"></script>
        <script src="{% static 'morris-data.js' %}"></script>
        <!-- Custom Theme JavaScript -->
        
        <script src="{% static 'startmin.js' %}"></script>

    </body>
</html>
{% endblock %}