<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="page-header">Add Item</h1>
    <form action="">
        <label for="Image">Upload Image</label>
        <input type="file" name="image" id="image">
        <label for="Speaciality">Add Speaciality</label>
        <input type="text" name="speacial" id="speacial"> <br>
        
              <input type="submit" value="Save">

    </form>
</body>
</html>