<!DOCTYPE html>
<html>
    <head>
        <title>App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="row">
    <header>
        <div class="d-flex justify-content-center">
            <div class="nav-menu">
                    <p class="float-right text-white m-0 mt-3 h4 nav-link">Sign up</p>
                    <p class="float-right mr-4 text-white m-0 mt-3 h4 nav-link">Login</p>
            </div>
        </div>
    </header>




</div>

</body>
</html>