<!DOCTYPE html>
<html>
<head>
	<title>On Sucess</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

{% block content %}
<div class="container">
       {% if valid_user %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Welcome {{valid_user.username}}</h4>
                <p>You are sucessfully logged in</p>

            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Invalid Login!</h4>

                <p>please enter valid username and password</p>
            </div>
        {% endif %}


    {% endblock %}

</div>




</body>
</html>